<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927007293579-8d9sdvg4jqd2cici76v19od1s4kia26s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927007293579-8d9sdvg4jqd2cici76v19od1s4kia26s</string>
	<key>API_KEY</key>
	<string>AIzaSyDW7Y0E_WXbrMb1yB3OqZHXKKMtCHI6Gfs</string>
	<key>GCM_SENDER_ID</key>
	<string>927007293579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carkeeper</string>
	<key>PROJECT_ID</key>
	<string>esc-car-keeper</string>
	<key>STORAGE_BUCKET</key>
	<string>esc-car-keeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927007293579:ios:99661aab00e5534b16548e</string>
</dict>
</plist>